<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Online auction</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navb" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navb">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#!signIn">Sign-in</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#!register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#!collectionsView" ng-hide="!logged">Show all content collections</a>
            </li>
            <li class="nav-item">
                <div class="nav-link" ng-hide="!logged" ng-click="logout()">Log out</div>
            </li>
        </ul>
    </div>
</nav>
<div class="container my-5">
    <table class="w3-table w3-bordered w3-striped">
        <tr>
            <th>Title</th>
            <th>Show content</th>
            <th>Delete collection</th>
        </tr>
        <tr ng-repeat="collection in collections">
            <td><p class="mt-2">{{ collection.Title }}</p></td>
            <td><button class="w3-btn w3-ripple" ng-click="showContent(collection.ContentCollectionId)"> Show</button></td>
            <td><button class="w3-btn w3-ripple" ng-click="deleteCollection(collection.ContentCollectionId)"> Delete</button></td>
        </tr>
    </table>
    <br>
    <form>
        <h3>Create content collection:</h3>
        <label>Collection name:</label>
        <input class="w3-input w3-border" type="text" ng-model="Title" placeholder="name">
        <br>
        <button type="button" class="btn btn-success" ng-click="saveCollection()">&#10004; Save</button>
    </form>
</div>